# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/projeto_medicina?schema=public"

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui_12345
JWT_EXPIRES_IN=7d
